$primary-color: #61ffed;
$primary-color-light: #80fff0;
$primary-color-dark: #33ffe7;

$secondary-color: #b2c9ef;
$secondary-color-light: #b7caeb;
$secondary-color-dark: #9fbbed;

$light-color: #ffffff;
$dark-color: #353535;
